<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <script src="../assets/js/groups.js" defer></script>
    <title>Groups</title>
  </head>
  <body>
    <header class="group">
      <nav class="login nav">
        <a href="./home.html">Home</a>
      </nav>
    </header>
    <main class="group">
      <div class="groups-wrapper"></div>
      <form id="register">
        <fieldset>
          <input class="input" type="text" name="group" placeholder="Enter your group ID" />
          <button class="prime" type="submit">Create group</button>
        </fieldset>
      </form>
    </main>
    <footer></footer>
  </body>
</html>
