<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Home</title>
  </head>
  <body>
    <header class="home head">
      <img class="png" src="../assets/pngwing.com (2).png" alt="" />
    </header>
    <main class="home main, container">
      <div class="home-text">
        <h1>Hello!</h1>
        <h2>Let's count our travel expenses</h2>
        <h2>&</h2>
        <h2>Split bills</h2>
      </div>

      <nav class="home-nav">
        <a class="prime" href="./login.html">Login</a>
        <span> or </span>
        <a class="second" href="./register.html">Register</a>
      </nav>
    </main>
  </body>
</html>
