<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Login</title>
  </head>
  <body>
    <header class="login">
      <nav class="login-nav">
        <a href="./home.html">Home</a>
        <a href="./register.html">Register</a>
      </nav>
    </header>
    <main class="login">
      <h2>Login</h2>
      <div class="errors"></div>
      <form id="login">
        <input class="form input" type="email" name="email" placeholder="Enter your email" />
        <input class="input"
          type="password"
          name="password"
          placeholder="Enter your password"
        />
        <button class="prime" type="">Login</button>
      </form>
      <a href="./register.html">Don't have an account? <i> Push and register here</i> </a>
    </main>
    <footer></footer>
  </body>
</html>
